<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.10" targetFramework="net40" />
  <package id="itextsharp.xmlworker" version="5.5.10" targetFramework="net40" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net46" />
</packages>